body{
    padding: 0px;
    margin: 0px;
    background-color: #242B2E;
}
html{
    scroll-behavior: smooth;
}
.topnav{
    display: flex;
    background-color: #E6425E;
    position: fixed;
    width: 100%;
}
.logo{
    display: flex;
width: 33.3%;
justify-content: center;
padding: 10px;
}
.logo a img{
    width: 100px;
    height: 50px;
    padding: 20px;
    margin-top: 20px;
}
.links{
    display: flex;
    width: 33.3%;
    justify-content: center;
    list-style: none;
}
.links li{
    padding: 20px;
    margin-top: 25px;
}
.links li a {
    text-decoration: none;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    color: #000;
}
.icons{
    display: flex;
    width: 33.3%;
    justify-content: center;
    margin-top: 50px;
}
.icons a{
    padding: 15px;
    font-size: 20px;
    color: #000;
}
#welcome-section{
    display: flex;
    background-color: black;
    color: #fff;
    justify-content: center;
    margin-top: -23px;
    width: 100%;
    height: 777px;
}
.innerbox{
    width: 400px;
    height: auto;
    text-align: center;
    margin-top: 400px;
    font-family: 'Josefin Sans', sans-serif; 
}
.innerbox p{
    color: crimson;
}
#projects{
    background-color: #3944F7;
    margin-top: -23px;
    text-align: center;
    height: auto;
    width: 100%;
    
}
#projects hr{
    height:1.5px;border-width:0;color:gray;background-color:#fff; width: 33%;margin-top: -10px; 
}
#projects h1{
    padding: 25px 0px 0px 0px;font-family: 'Josefin Sans', sans-serif; color: #fff;
    padding-top: 50px;
}
#projects button{
    padding:10px 15px;
    background-color: #0D0D0D;
    color: white;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: large;
    margin-bottom: 35px;
}
#arrow{
    margin-left: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.prodiv{
    width: 400px;
    height: 450px;
    margin-left: 50px;
    background-color:#0D0D0D;
    margin-top: 28px;
    margin-bottom: 40px;
}
.prodiv img{
    width: 400px;
    height: 400px;
} 
.prodiv h3{
    color: white;
    font-family: 'Josefin Sans', sans-serif; 
}
#contact{
    background-color: #242B2E;
    width: 100%;
    height: 400px;
    margin-top: -30px;
    text-align: center;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    color: #fff;
}
#contact h1{
    padding-top: 10%;
    font-size: 50px;
    letter-spacing: 1px;
    
}
#contact a{
   padding-top: 10px;
    text-decoration: none;
    color: #fff;
    font-size: large;
    padding:15px 30px;
    
}
#contact a i{
    padding: 10px;
}
footer{
    width: 100%;
    height: 100px;
    padding-top: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    letter-spacing: 1px;

}
/* hower property added */

#projects button:hover{
    background-color: #E03B8B;
    transition: 0.5s;
}
.links li a:hover{
    transition: 3s;
    text-decoration: underline;
   
}